<div #mapContainer class="map-container">
  <div class="nav-target" [ngClass]="{active: targetMarker!==undefined}">
    <img src="assets/img/target-icon.png" alt="target" (click)="doToggleTarget($event)">
    @if (canSetPosition) {
      <div class="target-text">set user position</div>
    }
</div>

<ng-template #popupTemplate let-restaurant="restaurant">
  <div class='markerPopup'>
    <h3>{{ restaurant.name }}</h3>
    <div class='cuisine'>{{ restaurant.cuisine }}</div>
    <div class='score'>
      <i class="fa-solid fa-star"></i>
      <span *ngFor="let grade of restaurant.grades">{{ grade.grade }}</span>
    </div>
    <div>{{ restaurant.address.building }} - {{ restaurant.address.street }}</div>
    <div class='borough'>{{ restaurant.borough }}</div>
  </div>
</ng-template>
