<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row restaurant">
    <app-infinite-select label="restaurant" formControlName="restaurant" [config]="restaurantConf"></app-infinite-select>
  </div>
  <div class="row borough">
    <app-infinite-select #boroughSelect label="borough" formControlName="borough" [config]="boroughConf"></app-infinite-select>
</div>
  <div class="row cuisine">
    <app-infinite-select #cuisineSelect label="cuisine" formControlName="cuisine" [config]="cuisineConf">
    </app-infinite-select>
  </div>
</form>
<pre>{{form.get('restaurant')?.value|json}}</pre>
<pre>{{form.get('borough')?.value|json}}</pre>
<pre>{{form.get('cuisine')?.value|json}}</pre>
<p>Hungrr !</p>
