<form class="nav-form row" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row container">
    <div class="row distincts">
      <div class="col cuisine">
        <app-infinite-select #cuisineSelect label="cuisine" formControlName="cuisine"
          (onChangeValue)="onChangeSelectValue($event, 'cuisine')" [config]="cuisineConf">
        </app-infinite-select>
      </div>
      <div class="col borough">
        <app-infinite-select #boroughSelect label="borough" formControlName="borough"
          (onChangeValue)="onChangeSelectValue($event, 'borough')" [config]="boroughConf"></app-infinite-select>
      </div>
    </div>
    <div class="row">
      <div class="col restaurant">
        <app-infinite-select #restaurantSelect label="restaurant" formControlName="restaurant" [config]="restaurantConf"
          (onChangeValue)="onChangeSelectValue($event, 'restaurant')"></app-infinite-select>
      </div>
      <div class="col distance" [title]="target===undefined ? 'Set user position first':''">
        <mat-slider class="slider" min="50" max="3050" step="150" color="accent" showTickMarks label="distance"
          placeholder="Distance" type="number" [disabled]="target===undefined || canUseHalo===false" discrete
          #distanceSlider>
          <input matSliderThumb #distanceInput (valueChange)="onChangeSelectValue($event, 'distance')"
            formControlName="distance">
        </mat-slider>
        <div class="slide-toggle" [ngClass]="{active: canUseHalo}">
          <mat-slide-toggle [checked]="canUseHalo" (change)="canUseHalo=!canUseHalo;showHaloChange.emit(canUseHalo);"
            [disabled]="target===undefined" id="canUseHalo">
            <div class="slide-toggle-txt">
              <i class="material-icons">radar</i>
              <div class="halo-text"> Proximity radar</div>
            </div>
          </mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="bottom-nav">
  <div class="nav-toggle" (click)="toggleNav($event)">
    <div class="hulk">
      <img src="assets/img/pngegg.png" alt="hulk-face">
      <div class="title">Hungrr</div>
    </div>
  </div>
</div>
