:host {
  display: block;
  width: 100%;
  background-color: grey;
}

.col {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.row {
  display: flex;
  width: 100%;
}

app-infinite-select {
  padding: 10px;
  padding-bottom: 0;
}

.nav-form {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  * {
    border: 1px dashed red;
  }
  .restaurant {
    width: auto;
  }
}
