<form class="nav-form row" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="col restaurant">
    <app-infinite-select label="restaurant" formControlName="restaurant"
      [config]="restaurantConf"></app-infinite-select>
  </div>
  <div class="col distincts">
  <div class="row">
    <div class="col cuisine">
      <app-infinite-select #cuisineSelect label="cuisine" formControlName="cuisine" [config]="cuisineConf">
      </app-infinite-select>
    </div>
    <div class="col grade">
      <input #gradeInput label="Grades" placeholder="Grades" formControlName="grades"/>
    </div>
  </div>
    <div class="row">
      <div class="col borough">
        <app-infinite-select #boroughSelect label="borough" formControlName="borough" [config]="boroughConf"></app-infinite-select>
      </div>
      <div class="col street">
        <app-infinite-select #streetSelect label="street" formControlName="street" [config]="streetConf"></app-infinite-select>
      </div>
      <div class="col distance">
        <input #distanceInput label="distance" placeholder="Distance" type="number" formControlName="distance">
      </div>
    </div>

  </div>
</form>
<!-- <pre>{{form.get('restaurant')?.value|json}}</pre>
<pre>{{form.get('borough')?.value|json}}</pre>
<pre>{{form.get('cuisine')?.value|json}}</pre> -->
<p>Hungrr !</p>
