// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ny_restaurants_front-primary: mat.define-palette(mat.$green-palette, 400);
$ny_restaurants_front-accent: mat.define-palette(mat.$pink-palette, A200);

// The warn palette is optional (defaults to red).
$ny_restaurants_front-warn: mat.define-palette(mat.$deep-orange-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ny_restaurants_front-theme: mat.define-light-theme((
  color: (
    primary: $ny_restaurants_front-primary,
    accent: $ny_restaurants_front-accent,
    warn: $ny_restaurants_front-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ny_restaurants_front-theme);

// mat-slider {
//   @include mat.theme((
//     color: (
//       primary: cyan,
//       secondary: violet,
//       theme-type: light
//     ),
//     typography: Roboto,
//     density: 0
//   ))
// }
