@font-face {
  font-family: hulkSmash;
  src: url('assets/font/HulksmashRegular-5EPj.ttf');
}
@font-face {
  font-family: smashWall;
  src: url('assets/font/SmashWallPersonalUse-rg30A.ttf');
}

*{
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  position: relative;
}

app-nav {
  position: sticky;
  top: 0;
  transition: .5s ease-in;

  &.hide {
    top: -145px;
  }
}

mat-form-field {
  .mat-mdc-form-field-subscript-wrapper  {
    height: 1em;
  }
  .mat-mdc-select-value-text{
    font-size: 1em;
  }
  .mat-mdc-text-field-wrapper {
    height: 3em;
  }
}

/* tablets */
@media (max-width:915px) {
  mat-form-field {
    .mat-mdc-form-field-subscript-wrapper  {
      height: 1em;
    }
    .mat-mdc-select-value-text{
      font-size: .9em;
    }
  }
}

/* mobils */
@media (max-width:520px) {
  mat-form-field {
    .mat-mdc-form-field-subscript-wrapper  {
      height: 0em;
    }
    .mat-mdc-select-value-text{
      font-size: .8em;
    }
  }
  app-nav {
    &.hide {
      top: -250px;
    }
  }
}
